<%= link_to 'sign_out', destroy_user_session_path, :method => :delete %>


<div class="row">
	<div class="medium-12 columns">
		<%= react_component("Game", {initial_game: @game.to_json}) %>
	</div>
</div>


















